* text=auto
*.h     text eol=lf
*.c     text eol=lf
*.cpp   text eol=lf
*.hpp   text eol=lf
*.sh    text eol=lf
*.cmake text eol=lf
*.txt   text eol=lf
*.gltf  text eol=lf
*.blend binary
*.glb   binary
*.bin   binary
*.jpg   binary
*.png   binary
*.bmp   binary
*.tif   binary
*.ttf   binary
*.wav   binary
*.opus  binary
