* text=auto
*.h     text eol=lf
*.c     text eol=lf
*.cpp   text eol=lf
*.hpp   text eol=lf
*.sh    text eol=lf
*.cmake text eol=lf
*.txt   text eol=lf
*.blend binary
*.jpg   binary
*.png  filter=lfs diff=lfs merge=lfs binary
*.wav filter=lfs diff=lfs merge=lfs binary
*.tif filter=lfs diff=lfs merge=lfs binary
*.bmp filter=lfs diff=lfs merge=lfs binary
*.ttf filter=lfs diff=lfs merge=lfs binary
*.bin   binary
